$transition-length-default: 0.4s;
$transition-length-fast: 0.2s;
$transition-length-slow: 0.6s;
$border-size: 2px;

$header-bar--height: 3.5em;


$control-panel--tool-button-size: 6vw;
$control-panel--base-size: 3.5em;
