html, body {
  height: 100vh;
  overflow-y: hidden; }

body {
  font-family: 'Space Mono', monospace;
  cursor: crosshair;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  margin: 0;
  background: #ffffff; }
  @media (min-width: 768px) {
    body {
      padding: 0; } }

[type='range'] {
  -webkit-appearance: none;
  background: transparent;
  margin: 10px 0;
  width: 100%; }
  [type='range']::-moz-focus-outer {
    border: 0; }
  [type='range']:focus {
    outline: 0; }
    [type='range']:focus::-webkit-slider-runnable-track {
      background: #e6e6e6; }
    [type='range']:focus::-ms-fill-lower {
      background: #e6e6e6; }
    [type='range']:focus::-ms-fill-upper {
      background: #e6e6e6; }
  [type='range']::-webkit-slider-runnable-track {
    cursor: default;
    height: 4px;
    transition: all .2s ease;
    width: 100%;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(13, 13, 13, 0.2);
    background: #e6e6e6;
    border: 0 solid #cfd8dc;
    border-radius: 5px; }
  [type='range']::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0 0px rgba(13, 13, 13, 0.2);
    background: #000;
    border: 0 solid #000;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    cursor: col-resize;
    -webkit-appearance: none;
    margin-top: -8px; }
  [type='range']::-moz-range-track {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(13, 13, 13, 0.2);
    cursor: default;
    height: 4px;
    transition: all .2s ease;
    width: 100%;
    background: #e6e6e6;
    border: 0 solid #cfd8dc;
    border-radius: 5px;
    height: 2px; }
  [type='range']::-moz-range-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0 0px rgba(13, 13, 13, 0.2);
    background: #000;
    border: 0 solid #000;
    border-radius: 10px;
    height: 16px;
    width: 16px;
    cursor: col-resize; }
  [type='range']::-ms-track {
    cursor: default;
    height: 4px;
    transition: all .2s ease;
    width: 100%;
    background: transparent;
    border-color: transparent;
    border-width: 10px 0;
    color: transparent; }
  [type='range']::-ms-fill-lower {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(13, 13, 13, 0.2);
    background: #d9d9d9;
    border: 0 solid #cfd8dc;
    border-radius: 10px; }
  [type='range']::-ms-fill-upper {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(13, 13, 13, 0.2);
    background: #e6e6e6;
    border: 0 solid #cfd8dc;
    border-radius: 10px; }
  [type='range']::-ms-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0 0px rgba(13, 13, 13, 0.2);
    background: #000;
    border: 0 solid #000;
    border-radius: 10px;
    height: 16px;
    width: 16px;
    cursor: col-resize;
    margin-top: 1px; }
  [type='range']:disabled::-webkit-slider-thumb {
    cursor: not-allowed; }
  [type='range']:disabled::-moz-range-thumb {
    cursor: not-allowed; }
  [type='range']:disabled::-ms-thumb {
    cursor: not-allowed; }
  [type='range']:disabled::-webkit-slider-runnable-track {
    cursor: not-allowed; }
  [type='range']:disabled::-ms-fill-lower {
    cursor: not-allowed; }
  [type='range']:disabled::-ms-fill-upper {
    cursor: not-allowed; }

input[type=text] {
  outline: none;
  border: 2px solid #e6e6e6;
  font-size: 0.9em;
  width: 100%; }
  input[type=text]:focus, input[type=text]:active {
    outline: none; }

textarea {
  outline: none;
  resize: vertical;
  overflow: auto;
  border: 2px solid #e6e6e6;
  font-size: 0.9em;
  min-height: 3em;
  max-height: 8em;
  width: 100%; }
  textarea:focus, textarea:active {
    outline: none; }

button, .button {
  font-family: 'Space Mono', monospace;
  text-align: center;
  border: none;
  outline: none;
  color: #ffffff;
  background: #000000;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  padding: 5px; }
  button.button-full, .button.button-full {
    width: 100%; }

.buttons-bar {
  text-align: center; }
  .buttons-bar__icon {
    cursor: pointer;
    width: 10%; }
    .buttons-bar__icon.selected {
      opacity: 0.5; }

.pcr-app {
  font-family: "Space Mono" !important; }

.pcr-interaction {
  font-family: "Space Mono" !important; }

.pcr-type.active {
  background: #e6e6e6 !important;
  color: #000 !important; }

.pcr-save {
  background: #000 !important;
  color: #fff !important; }

.pcr-clear {
  background: #fff !important;
  color: #000 !important; }

.select {
  position: relative;
  height: 47.5px;
  background: #000;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05); }
  .select:after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
    pointer-events: none; }
  .select:before {
    width: 30px;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    background: #000;
    content: '';
    pointer-events: none; }
  .select:hover:before {
    background: #000; }
  .select__import-button {
    background: #e6e6e6;
    color: #000;
    font-family: "Space Mono", monospace; }
  .select__option {
    font-size: 0.9em;
    padding-top: 10px;
    color: #fff;
    background: #222222; }
    .select__option:hover {
      background: #000; }
  .select select {
    font-size: 14px;
    border: none;
    box-shadow: none;
    border-radius: 0;
    background: transparent;
    height: 100%;
    width: 100%;
    cursor: pointer;
    outline: none;
    padding-right: 35px;
    padding-left: 15px;
    border: 1px solid #000;
    color: #fff !important;
    -moz-appearance: none;
    -webkit-appearance: none; }
    .select select:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000; }
    .select select::-ms-expand {
      display: none; }
    .select select:focus {
      border-color: #000;
      outline: none; }

@media all and (min-width: 0\0) and (min-resolution: 0.001dpcm) {
  .select select {
    padding-right: 0; }
  .select:after, .select:before {
    display: none; } }

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; }

.number-input {
  border: 2px solid #e6e6e6;
  display: inline-flex; }

.number-input,
.number-input * {
  box-sizing: border-box; }

.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  margin: 0;
  position: relative;
  padding: 0; }

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 0.75em;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%); }

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg); }

.number-input input[type=number] {
  font-family: "Space Mono", monospace;
  max-width: 5em;
  width: calc(100% - 3em);
  padding: 0em;
  border: solid #e6e6e6;
  border-width: 0 0px;
  font-size: 0.9em;
  height: 1.5em;
  text-align: center; }

#canvas-container {
  /*display: inline-block;*/
  /*float: right;*/
  position: relative;
  text-align: center;
  height: 50vh;
  min-height: 290px;
  overflow: hidden;
  text-align: center;
  cursor: text; }

@media (min-width: 768px) {
  #canvas-container {
    height: 100vh;
    /*line-height: 100vh;*/ } }

.info-wrapper {
  position: absolute;
  display: block;
  width: 100%;
  padding: 10px 40px;
  z-index: 1000; }

@media (min-width: 576px) {
  .info-wrapper {
    padding: 54px 40px; } }

.main-info {
  padding-top: 5px;
  display: inline-block;
  float: left;
  text-align: left;
  color: #b3b3b3;
  line-height: 1rem;
  cursor: crosshair; }

@media (min-width: 576px) {
  .main-info {
    padding-top: 0; } }

.main-info > h1 {
  margin-top: 0;
  font-size: 1rem;
  font-weight: normal; }

.main-info > p {
  font-style: italic;
  font-size: 0.9rem;
  display: none; }

@media (min-width: 768px) {
  .main-info > p {
    display: block; } }

.app-name {
  display: inline-block;
  float: right;
  color: #b3b3b3;
  cursor: crosshair; }
  .app-name h1 {
    margin-top: 0;
    font-size: 1rem;
    font-weight: normal; }

#canvas-wrapper > canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

#text-input, #text-input:focus, #text-input:active {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  resize: none;
  border: none;
  outline: none; }

.header-bar {
  height: 3.5em;
  background-color: #000;
  text-align: center;
  border: 2px solid #e6e6e6;
  position: fixed;
  top: 0;
  left: 0; }
  @media (min-width: 768px) {
    .header-bar {
      position: relative; } }
  .header-bar__logo {
    display: inline-block;
    height: 100%;
    padding: 0.5em; }

.toolbar {
  position: fixed;
  bottom: 0;
  height: 3.5em;
  border: 2px solid #e6e6e6;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap; }
  @media (min-width: 768px) {
    .toolbar {
      position: relative;
      height: auto;
      border-top: none; } }
  .toolbar__tool-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 100%;
    width: 3.5em;
    padding: 0;
    border-right: 2px solid #e6e6e6; }
    @media (min-width: 768px) {
      .toolbar__tool-button {
        display: block;
        width: 100%;
        height: auto;
        padding-top: 100%;
        border-bottom: 2px solid #e6e6e6;
        border-right: none; } }
    .toolbar__tool-button span {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      line-height: 100%;
      padding: 0; }
    .toolbar__tool-button.opened {
      background: #e6e6e6; }

.tool-menu {
  border: 2px solid #e6e6e6;
  border-bottom: none;
  padding-left: 15px;
  overflow-y: auto; }
  @media (min-width: 768px) {
    .tool-menu {
      border: none;
      border-right: 2px solid #e6e6e6; } }
  .tool-menu__content-wrapper {
    position: relative;
    text-align: right;
    width: 100%; }
  .tool-menu__item {
    position: absolute;
    left: -100%;
    top: 0;
    padding: 15px;
    width: 100%;
    opacity: 0;
    -webkit-transition: left 0.4s, opacity 0.2s, visibility 0.2s;
    transition: left 0.4s, opacity 0.2s, visibility 0.2s;
    overflow: hidden;
    visibility: hidden; }
    .tool-menu__item.opened {
      left: 0;
      opacity: 1;
      -webkit-transition: left 0.4s, opacity 0.2s, visibility 0.2s;
      transition: left 0.4s, opacity 0.2s, visibility 0.2s;
      visibility: visible; }
    .tool-menu__item__name {
      font-style: italic;
      font-size: 1.2em;
      font-weight: bold;
      text-transform: uppercase;
      display: none; }
      @media (min-width: 768px) {
        .tool-menu__item__name {
          display: block; } }
      .tool-menu__item__name.no-hide {
        display: block; }
    .tool-menu__item__control {
      cursor: pointer; }
      @media (min-width: 768px) {
        .tool-menu__item__control {
          margin-bottom: 30px; } }
      .tool-menu__item__control__name {
        text-align: left; }
        @media (min-width: 992px) {
          .tool-menu__item__control__name {
            margin-bottom: 10px; } }
      .tool-menu__item__control__caption {
        margin-top: 10px;
        text-align: left;
        font-size: 0.8em;
        color: #666666; }
    .tool-menu__item__control-group {
      position: relative;
      display: inline-block; }
      @media (min-width: 768px) {
        .tool-menu__item__control-group {
          margin-top: 30px;
          display: block; } }
      .tool-menu__item__control-group.opened {
        display: block;
        text-align: center; }
      .tool-menu__item__control-group.hidden {
        display: none; }
        @media (min-width: 768px) {
          .tool-menu__item__control-group.hidden {
            display: block; } }
      .tool-menu__item__control-group__name {
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        border: 2px solid #e6e6e6;
        display: inline-block;
        padding: 5px; }
        @media (min-width: 768px) {
          .tool-menu__item__control-group__name {
            margin-bottom: 15px;
            border: none;
            display: block;
            padding: 0;
            position: relative;
            left: auto;
            top: auto; } }
        .tool-menu__item__control-group__name.only-mobile {
          display: inline-block; }
          @media (min-width: 768px) {
            .tool-menu__item__control-group__name.only-mobile {
              display: none; } }
      .tool-menu__item__control-group__content {
        opacity: 0;
        position: absolute;
        visibility: hidden;
        left: -100%;
        top: 0;
        -webkit-transition: left 0.4s, opacity 0.2s, visibility 0.2s;
        transition: left 0.4s, opacity 0.2s, visibility 0.2s; }
        @media (min-width: 768px) {
          .tool-menu__item__control-group__content {
            opacity: 1;
            position: relative;
            visibility: visible;
            left: 0;
            -webkit-transition: left 0.4s, opacity 0.2s, visibility 0.2s;
            transition: left 0.4s, opacity 0.2s, visibility 0.2s; } }
        .tool-menu__item__control-group__content.opened {
          width: 100%;
          opacity: 1;
          display: block;
          position: relative;
          visibility: visible;
          left: 0;
          top: 0.2em;
          -webkit-transition: left 0.4s, opacity 0.2s, visibility 0.2s;
          transition: left 0.4s, opacity 0.2s, visibility 0.2s; }
          @media (min-width: 768px) {
            .tool-menu__item__control-group__content.opened {
              top: 0; } }

.footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  color: #b3b3b3; }

.footer > a {
  color: #b3b3b3;
  text-decoration: none; }

.footer > a:hover {
  text-decoration: underline; }

.footer.main {
  display: none; }

@media (min-width: 768px) {
  .footer.main {
    display: inherit; } }

.footer.controls {
  display: inherit; }

@media (min-width: 768px) {
  .footer.controls {
    display: none; } }

.font-import .modal-header, .font-import .modal-footer {
  border: none; }
  .font-import .modal-header .close, .font-import .modal-footer .close {
    color: #e6e6e6; }

.font-import .modal-content {
  border-radius: 0;
  border: 2px solid #e6e6e6; }

.font-import__title {
  font-weight: bold;
  font-style: italic; }

.font-import__section {
  margin-bottom: 30px; }
  .font-import__section__name {
    font-weight: bold;
    margin-bottom: 15px; }
  .font-import__section code {
    color: #666666; }
  .font-import__section__input {
    height: 3em;
    padding: 1em; }
  .font-import__section__message {
    color: red; }
