
body {
    font-family: 'Space Mono', monospace;
    cursor: crosshair;
    padding: 0;
    margin: 0;
}

h1 {
    margin-top: 0;
    font-size: 1rem;
    font-weight: normal;
}

label {
    display: inline-block;
    margin-top: 2px;
    font-size: 1rem;
    min-width: 80px;
}

.border {
    border: 3px solid #e6e6e6 !important;
}

.side-border {
    border-left: 3px solid #e6e6e6 !important;
    border-right: 3px solid #e6e6e6 !important;
}

.bottom-border {
    border-bottom: 3px solid #e6e6e6 !important;
}


.controls-container {
    text-align: right;
    height: 50vh;
    overflow-y: auto;
    /*margin-top: 50vh;*/
    /*-ms-flex: 0 0 290px;*/
    /*flex: 0 0 290px;*/
}

@media (min-width: 768px) {
    .controls-container {
        height: 100vh;
        overflow-y: auto;
        -ms-flex: 0 0 290px;
        flex: 0 0 290px;
    }
}

.controls-container-content {
    position: relative;
    padding-bottom: calc(40px + 0.8rem);
}

.controls-section {
    padding-left: 10px;
    padding-right: 30px;
}

.controls-section-header {
    position: relative;
    cursor: pointer;
}

.controls-section-header > h2 {
    font-style: italic;
    margin-top: 0;
    padding-top:10px;
    font-size: 1.1rem;
    display: inline-block;

}

.collapse-icon-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.collapse-icon-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.collapse-icon {
    display: inline-block;
    width: 1rem;
    -webkit-transition: .2s;
    transition: transform .2s;
}

.collapse-icon.up {
    transform: rotate(180deg);
    -webkit-transition: .2s;
    transition: transform .2s;
}

.controls-section-content {
    height: auto;
    -webkit-transition: .2s;
    transition: height .2s;
}

.controls-section-content.collapsed {
    height: 0;
    -webkit-transition: .2s;
    transition: height .2s;
}

.controls-bottom-section {
    width: 100%;
    text-align: center;
}

.control-section {
    margin-bottom: 15px;
}

.color-section {
    width: 100%;
    height: 57px;
    padding: 0;
    margin: -3px 0 0;
}

.text-icons-wrapper {
    /*text-align: center;*/
}

.text-icon {
    cursor: pointer;
    width: 10%;
}

.text-icon.selected {
    opacity: 0.5;
}

.button {
    font-family: 'Space Mono', monospace;
    text-align: center;
    border: none;
    outline: none;
    color: #ffffff;
    background: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.button-full {
    display: block;
    width: 100%;
    padding: 15px;
    height: 54px;
    letter-spacing: 0.15rem;
}

#download-button {
    color: #000000;
    background: #ffffff;
    font-size: 1.1rem;
    /*font-weight: bold;*/
    /*border: 3px solid #000000;*/
}

/*@media (min-width: 576px) {*/
    /*#download-button {*/
        /*margin-bottom: 10px;*/
    /*}*/
/*}*/

#website-link {
    padding: 8px;
}

.logo {
    height: 100%;
}

.control {
    display: inline-block;
    vertical-align:middle;
}

.slider {
    -webkit-appearance: none;
    outline: none;
    height: 25px;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    margin-top: -5px;
    border-radius: 50%;
    border: none;
    background: #000000;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: width .2s, height .2s, margin-top .2s;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background: #000000;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: width .2s, height .2s;
}

.slider::-webkit-slider-thumb:hover {
    margin-top: -8px;
    width: 25px;
    height: 25px;
    -webkit-transition: .2s;
    transition: width .2s, height .2s, margin-top .2s;
}

.slider::-moz-range-thumb:hover {
    width: 25px;
    height: 25px;
    -webkit-transition: .2s;
    transition: width .2s, height .2s;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 4px;
    background: #ddd;
}

/* canvas section */

#canvas-container {
    /*display: inline-block;*/
    /*float: right;*/
    position: relative;
    text-align: center;
    height: 50vh;
    min-height: 290px;
    overflow: hidden;
    text-align: center;
    cursor: text;
}

@media (min-width: 768px) {
    #canvas-container {
        height: 100vh;
        /*line-height: 100vh;*/
    }
}

.info-wrapper {
    position: absolute;
    display: block;
    width: 100%;
    padding: 10px 40px;
    z-index: 1000;
}

@media (min-width: 576px) {
    .info-wrapper {
        padding: 54px 40px;
    }
}

.main-info {
    padding-top: 5px;
    display: inline-block;
    float: left;
    text-align: left;
    color: #b3b3b3;
    line-height: 1rem;
    cursor: crosshair;
}

@media (min-width: 576px) {
    .main-info {
        padding-top: 0;
    }
}

.main-info > p {
    font-style: italic;
    font-size: 0.9rem;
    display: none;
}

@media (min-width: 768px) {
    .main-info > p {
        display: block;
    }
}

.app-name {
    display: inline-block;
    float: right;
    color: #b3b3b3;
    cursor: crosshair;
}

#canvas-wrapper > canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#text-input, #text-input:focus, #text-input:active {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    background: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
    resize: none;
    border: none;
    outline: none;
}

.footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    color: #b3b3b3;
}

.footer > a {
    color: #b3b3b3;
    text-decoration: none;
}

.footer > a:hover {
    text-decoration: underline;
}

.footer.main {
    display: none;
}

@media (min-width: 768px) {
    .footer.main {
        display: inherit;
    }
}

.footer.controls {
    display: inherit;
}

@media (min-width: 768px) {
    .footer.controls {
        display: none;
    }
}


@media (min-width: 768px) {
    .hidden-on-small {
        display: none;
    }
}

.hidden-on-medium {
    display: inherit;
}

@media (min-width: 768px) {
    .hidden-on-small {
        display: none;
    }
}
