.footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  color: #b3b3b3;
}

.footer > a {
  color: #b3b3b3;
  text-decoration: none;
}

.footer > a:hover {
  text-decoration: underline;
}

.footer.main {
  display: none;
}

@media (min-width: 768px) {
  .footer.main {
    display: inherit;
  }
}

.footer.controls {
  display: inherit;
}

@media (min-width: 768px) {
  .footer.controls {
    display: none;
  }
}