.graphics-area {
  position: relative;
  overflow: hidden;
  background: $color-gray;
  padding: 30px;

  &__canvas-wrapper {
    width: 100%;
    height: 100%;

    canvas {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      border: 4px dashed $color-dark-gray;

      @include atMedium {
        border: 2px dashed $color-dark-gray;
      }
    }
  }
}