.information {
  text-align: left;

  h1 {
    font-size: 1.1em;
    font-weight: bold;
  }

  h2 {
    font-size: 0.7em;
    text-transform: uppercase;
    font-style: italic;
  }

  p {
    font-size: 0.65em;
  }
}